@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --rad: 0.9rem;
  --dur: 2s;
  --color-dark: #333;
  --color-border: #4e4e4e;
  --color-light: #ffffff;
  --color-brand: #9cbb14;
  --color-accent: #56fc58;
  --colour-background: #97bf7a;
  --font-fam: "Quicksand";
  --Recipe-height: 3rem;
  --Recipe-btn-width: 5rem;
  --Recipe-Grid-Spacing: 0.2rem;
  --height: 3rem;
  --btn-width: 9rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
  --Img-Logo-Height: 7em;
}

/* base styles */
* {
  margin: 0;
  font-family: var(--font-fam);
  color: var(--color-dark);
}
.Navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: var(--color-border);
  border-radius: 1rem;
}
.Navbar h1 {
  color: var(--color-brand);
}
.Navbar img{
  padding: 1rem;
  height: var(--Img-Logo-Height);
  width: var(--Img-Logo-Height);
}
.Navbar .links {
  margin-left: auto;
}
.Navbar a {
  margin-left: 8px;
  text-decoration: none;
  padding: 3px;
}
.Navbar a:hover {
  color: var(--color-accent);
}

/* Content Main */
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Search Bar */
.searching {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--rad);
}
.searching form {
  position: relative;
  width: 40rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
.searching input,
.searching button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 5rem;
  color: var(--color-dark);
  font-size: 1.8rem;
}
.searching input[type="search"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.8rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.searching button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}
.searching input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}
.searching input:not(:placeholder-shown) ~ button {
  display: block;
}
.searching label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* A simple thing to center the components */
.Center {
  text-align: justify;
  padding: 20px;
}
/* For the about page */
.About
{
  display: block;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}
.About p{
  text-align: justify;
  padding: 10px;
}
.About h3{
  border-bottom: 1px solid #f2f2f2;
}
.About h4{
  padding: 50px;
  border-bottom: 1px solid #f8f8f8;
  text-align: center;
}
.Support
{
  display: block;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}
.Support p{
  text-align: justify;
  padding: 10px;
}
.Support h3{
  border-bottom: 1px solid #f2f2f2;
  padding-top: 20px;
}
/* Footer */
.Footer {
  background-color: var(--color-dark);
  column-count: 3;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 1rem;
}
.Footer p {
  padding: 2%;
  text-align: center;
  color: var(--color-light);
  margin-bottom: 5px;
}