@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.Navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.Navbar h1 {
  color: #52Bf04;
}
.Navbar .links {
  margin-left: auto;
}
.Navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.Navbar a:hover {
  color: #56FC58;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.Center{
  text-align: justify;
  padding: 20px;
}
.Footer{
  background-color: #333;
  column-count: 3;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.Footer p {
  padding: 2%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 5px;
}